body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #070707;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-top: 0;
}

.sidebar {
  width: 20%; 
  min-width: 200px; 
  max-width: 300px; 
  height: 100vh;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  overflow-y: auto; 
}

.sidebar a {
  display: block;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #1a1a1a;
  color: #b40505;
}

.main-content {
  margin-left: 20%; 
  padding: 20px;
}

button {
  padding: 10px;
  background-color: #b40505;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f7f5f5;
  color: #b40505;
}

.section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

section {
  display: none;
}

section.active {
  display: block;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

.productos {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  flex: 1 1 calc(25% - 40px); 
  max-width: 300px; 
  box-sizing: border-box; 
  
}

.productos img {
  width: 100%;
  height: auto;
}

.productos:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
  margin-top: 20px;
}

.login{
  margin: 20px;
  margin-left: 385px;
  padding: 0;
  height: 150px;
  width: 138px;
}


.usuarios{
  position: relative;
  left: 350px;
  list-style: none;
}

.contraseñas{
  position: relative;
  left: 340px;
  list-style: none;
  margin: 10px;
}           

.boton{
  position: relative;
  left: 350px;
  margin: 10px;
  border: none;
  border-radius: 3px;
  width: 20%;
  padding: 10px;
  background: #b40505;
  color: white;
  cursor: pointer;
  
}
.usu{
  border: 2px solid black;
  border-radius: 3px;
  width: 200px;
  height: 20px;
}

.con{
  border: 2px solid black;
  border-radius: 3px;
  width: 200px;
  height: 20px;
}

.boton input[type="submit"] {
  cursor: pointer;
}

.usu:hover {
  background-color: #ffd8d8; 
  border-color: #b40505; 
}

.con:hover {
  background-color: #ffd8d8; 
  border-color: #b40505; 
}


.gorra-principal {
  display: block;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
  transition: width 0.3s ease;
}

.redes{
  list-style: none;
}
.link_instagram{
  text-decoration: none;
  color: #FF5C3F;
}

.link_facebook{
  text-decoration: none;
  color: #1877F2;
}

.link_whatsapp{
  text-decoration: none;
  color: #25D366;
}

.link_linkedin{
  text-decoration: none;
  color: #0A66C2;
} 

.iconoins{
  width: 20px;
  position: relative;
  right: 8px;
}

.iconoface{
  width: 20px;
  position: relative;
  right: 8px;
}

.iconowha{
  width: 20px;
  position: relative;
  right: 8px;
  top: 2px;
}


@media (max-width: 1024px) {
  .sidebar {
    width: 25%; 
  }

  .main-content {
    margin-left: 25%;
  }

  .contenedor-productos {
    gap: 10px;
  }

  .productos {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content {
    margin-left: 0;
  }

  .productos {
    flex: 1 1 calc(100% - 20px); 
  }
}